:root{
    --primario: #9C27B0;
    --primarioOscuro: blue;
    --secundario:  #FFCE00;
    --secundarioOscuro:  rgb(233, 287, 2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 52.5%;
    
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 10%;
    margin: 1rem 1rem;

}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    background-color: blue;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

.titulo{
    text-align: center;
    background-color: blue;
}
/*Header*/
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;  /*Primer valor es de arriba y abajo, y el segundo valor es de los lados*/
}


/*Footer*/

.footer{
   background-color: var(--primarioOscuro);
   padding: 1rem 0;
   margin-top: 2rem;
}

.footer__texto{
    text-align: right;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}


/*Navegacion*/

.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /*sirve para separar elementos*/
}

.navegacion_enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.5rem;
}

.navegacion_enlace--activo,
.navegacion_enlace:hover{
    color: var(--secundario);
}